<div class="d-flex justify-content-center align-items-center mt-5 text-danger" style="font-size: 200px">
  <i class="fa-solid fa-circle-exclamation"></i>
</div>


<p class="d-flex justify-content-center my-3 fs-1 text-danger fw-bold">{{message}}</p>