<div class="mt-3 w-50 mx-auto">
  <select class="form-select form-select-lg" name="category" id="category">
    <option>類別</option>
    <option value="家居物業">家居物業</option>
    <option value="交通出行">交通出行</option>
    <option value="休閒娛樂">休閒娛樂</option>
    <option value="餐飲食品">餐飲食品</option>
    <option value="其他">其他</option>
  </select>
  <div class="mt-5 d-flex justify-content-evenly">
    <div class="fw-bold fs-4">
      總金額：
    </div>
    <div class="text-danger" style="font-size: 100px;">25740</div>
  </div>

  <table class="table table-striped mt-2">
    <tr class="align-middle">
      <td class="col-4">
        <div class="d-flex flex-row">
          <i class="fa-solid fa-house fs-2 mt-1" style="color: #7FFFD4;"></i>
          <div class="d-flex flex-column ms-1 h-100">
            <span class="align-self-start">午餐</span>
            <span class="align-self-end" style="font-size: 8px;">2019/04/23</span>
          </div>
        </div>
      </td>
      <td class="col-4">60</td>
      <td class="col-4">
        <a class="btn btn-primary me-2" href="">修改</a>
        <a class="btn btn-danger" href="">刪除</a>
      </td>
    </tr>
  </table>
  <div class="text-center mt-5">
    <a class="btn btn-primary" href="/records/create" style="width: 140px;">新增支出</a>
  </div>
</div>