<div class="card mx-auto my-5 text-danger fw-bold border-success border-5" style="width: 40vw;">
  <div class="card-body p-4 bg-light">
    <div class="my-4 d-flex justify-content-center">
      <h5 class="fw-bold">
        Wellcome to expense tracker
        <i class="fa-solid fa-face-grin-wide"></i>
      </h5>
    </div>

    <p class="card-text">
      <form action="/signin" method="POST">
      
        <div class="my-3">
          <label for="email" class="form-label">
            <i class="fa-solid fa-envelope"></i>
            Account:
          </label>
          <input type="email" class="form-control border-dark border-2" name="email" id="email"
            placeholder="name@example.com">
        </div>
      
        <div class="my-3">
          <label for="password" class="form-label">
            <i class="fa-solid fa-key"></i>
            Password:
          </label>
          <input type="password" class="form-control border-dark border-2" name="password" id="password">
        </div>
        <button class="btn btn-success rounded-pill w-100 mt-3" type="submit">Login</button>
      </form>
    </p>
  
    <p class="text-muted text-center mt-3">
      <small>
        No accounts？
        <a class="fw-bold" href="/signup">Register</a>
      </small>
      <div class="text-center text-muted">
        <span class="fw-bold">
          Other ways to login👉
          <a href="/login/google" class="text-danger"><i class="fa-brands fa-google"></i></a>
        </span>
      </div>
    </p>
  </div>
</div>
