<div class="card mx-auto my-5 border-primary border-5" style="width: 40vw;">
  <div class="card-body p-4 fw-bold bg-info">
    <div class="my-4 d-flex justify-content-center">
      <h5 class="fw-bold">Please enter the fields~~</h5>
    </div>

    <div class="card-text">
      <form action="/signup" method="POST">
        <div class="my-3">
          <i class="fa-solid fa-user"></i>
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control border-dark border-2" name="name" id="name" required>
        </div>
      
        <div class="my-3">
          <i class="fa-solid fa-envelope"></i>
          <label for="email" class="form-label">信箱</label>
          <input type="email" class="form-control border-dark border-2" name="email" id="email" required>
        </div>
        <div class="my-3">
          <i class="fa-solid fa-key"></i>
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control border-dark border-2" name="password" id="password" required>
        </div>
        <div class="my-3">
          <i class="fa-solid fa-key"></i>
          <label for="passwordCheck" class="form-label">Confirm Password</label>
          <input type="password" class="form-control border-dark border-2" name="passwordCheck" id="passwordCheck"
            required>
        </div>
      
        <button class="btn btn-primary rounded-pill w-100 mt-3" type="submit">Register</button>
      </form>
      <div class="text-muted text-center mt-3">
        <small>
          Already have an account？
          <a class="fw-bold" href="/signin">Login</a>
        </small>
      </div>
    </div>
  </div>
</div>