<div class="card text-primary mt-2" style="width: 42vw; height: 100vh; margin: 0 auto;">
  <img src="https://images.pexels.com/photos/47344/dollar-currency-money-us-dollar-47344.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img w-100 h-100" alt="money" style="opacity: 0.3; object-fit: fill;">
  <div class="card-img-overlay">
    <form action="/signup" method="POST">
      <h2 class="card-title fw-bold mt-5 text-center">請填寫以下欄位~~</h2>

      <div class="my-3">
        <label for="name" class="form-label fw-bold text-danger">姓名</label>
        <input type="text" class="form-control border-primary border-2" name="name" id="name" required>
      </div>

      <div class="my-3">
        <label for="email" class="form-label fw-bold text-danger">信箱</label>
        <input type="email" class="form-control border-primary border-2" name="email" id="email" required>
      </div>
      <div class="my-3">
        <label for="password" class="form-label fw-bold text-danger">密碼</label>
        <input type="password" class="form-control border-primary border-2" name="password" id="password" required>
      </div>
      <div class="my-3">
        <label for="passwordCheck" class="form-label fw-bold text-danger">確認密碼</label>
        <input type="password" class="form-control border-primary border-2" name="passwordCheck" id="passwordCheck" required>
      </div>
      
      <div class="d-flex justify-content-center">
        <button class="btn btn-success" type="submit">註冊</button>
      </div>
    </form>

    <p class="card-text text-muted text-center mt-3">
      <small>
        已經有帳號嗎？
        <a class="fw-bold" href="/signin">回到登入頁~</a>
      </small>
      <div class="text-center">
        <span class="text-dark fw-bold">
          其他方式登入👇
        </span>
        <form action="/login/google" method="GET">
          <button class="fw-bold btn btn-danger mx-auto tex" type="submit">
            <i class="fa-regular fa-envelope me-2"></i>
            Gmail
          </button>
        </form>
      </div>
    </p>
  </div>
</div>